* {
  margin: 0;
  padding: 0;

  user-select: none;

  /* border: 2px solid red; */
}

.hidden {
  display: none;
}

#shot-test-container {
  position: absolute;
  top: 150px;
  left: -764px;
  right: 0;

  width: 100px;
  height: 248px;
  margin: auto;

  border: 1px solid black;
}

#test-title-top {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;

  width: 80px;
  height: 20px;
  margin: auto;

  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
}

#test-title-1 {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;

  width: 80px;
  height: 20px;
  margin: auto;

  text-align: center;
  font-size: 13px;
}

#input-box-1 {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  width: 40px;
  margin: auto;

  text-align: center;
}

#test-title-2 {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;

  width: 80px;
  height: 20px;
  margin: auto;

  text-align: center;
  font-size: 13px;
}

#input-box-2 {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;

  width: 40px;
  margin: auto;

  text-align: center;
}

#shot-test-button {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;

  width: 60px;
  height: 20px;
  margin: auto;
  padding-top: 3px;

  text-align: center;
  font-size: 14px;

  background-color: lightGray;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 0px #878787;
}

#shot-test-button:active {
  background-color: #878787;
  box-shadow: none;
}

#background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#svg-main {
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 20px;
  right: 0;

  margin: auto;

  stroke-dasharray: 1000;
  stroke-dashoffset: 82.43675231933594;

  transform-origin: center bottom;
  animation: pathPreview 20s linear infinite;
}

@keyframes pathPreview {
  to {
    stroke-dashoffset: 0;
  }
}

#screen-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;

  width: 608px;
  height: 448px;
  margin: auto;

  border: 1px solid black;
}

#hole-info-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;

  width: 60px;
  height: 50px;

  text-align: center;
  font-family: "VT323", monospace;
  font-size: 16px;
  color: black;

  background-color: rgba(255, 255, 255, 0.55);
  border: 1px solid black;
  box-sizing: border-box;
}

#teepad {
  position: absolute;
  z-index: 20;
  top: 320px;
  left: 0;
  right: 0;

  margin: auto;
}

#player-sprite {
  position: absolute;
  z-index: 30;
  top: 330px;
  left: 0;
  right: 0;

  margin: auto;
}

.player-drive-movement {
  position: absolute;

  transform: translate(0px, -25px);
  transition: transform 1400ms ease-in;
}

#disc-temp {
  position: absolute;
  z-index: 20;
  top: 350px;
  left: 18px;
  right: 0;

  margin: auto;
}

#disc-container {
  position: absolute;
  z-index: 10;
  top: 342px;
  left: 0;
  right: 0;

  width: 10px;
  height: 10px;
  margin: auto;

  /* border: 1px solid black; */
}

/* #disc-container:after {
  content: "";
  position: absolute;
  left: 71px;
  right: 0;
  top: -262px;
  top: 0px;
  width: 10px;
  height: 10px;
  margin: auto;
  z-index: 10;
  border: 1px solid black;
}
#container-pos-test {
  position: absolute;
  left: 81px;
  right: 0;
  top: 180px;
  width: 10px;
  height: 10px;
  margin: auto;
  z-index: 20;
  border: 1px solid blue;
} */

#disc {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  width: 10px;
  height: 10px;
  margin: auto;

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527429339/DG-GAME-PROTO/disc-16x16_wi4gex.png");
  background-repeat: no-repeat;
}

/* #disc:after {
  content: "";
  position: absolute;
  left: 82px;
  right: 0;
  top: -91px;
  width: 10px;
  height: 10px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527429339/DG-GAME-PROTO/disc-16x16_wi4gex.png");
  background-repeat: no-repeat;
  z-index: 10;
} */

.disc-shot {
  transition: transform 2200ms ease-out;
}

.disc-shot-end {
  transition: transform 1500ms ease-out;
}

.disc-shot-cage-hit {
  transition: transform 600ms ease-out;
}

#disc-shadow {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 0;

  width: 16px;
  height: 16px;
  margin: auto;

  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527519341/DG-GAME-PROTO/disc-shadow-8x8_dnj2yb.png");
  background-repeat: no-repeat;
}

#disc-water-splash {
  position: absolute;
  z-index: -10;
  top: 339px;
  left: 0;
  right: 0;

  width: 16px;
  height: 16px;
  margin: auto;
}

#shot-UI-container {
  position: absolute;
  top: 397px;
  left: 0;
  right: 0;

  width: 608px;
  height: 50px;
  margin: auto;

  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

#shot-preview-length {
  position: absolute;
  top: 8px;
  left: 419px;
  right: 0;

  margin: auto;

  font-family: "VT323", monospace;
  font-size: 12px;
  color: white;
}

#shot-power-meter {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 0;
  right: 0;

  width: 250px;
  height: 20px;
  margin: auto;

  background-color: lightYellow;
  border: 1px solid black;
  border-radius: 2px;
}

#release-point-good {
  position: absolute;
  top: 0;
  left: 20px;

  width: 20px;
  height: 20px;

  background-color: darkBlue;
}

#release-point-perfect {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  width: 4px;
  height: 18px;
  margin: auto;

  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
}

#power-indicator {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  width: 4px;
  height: 18px;
  margin: auto;

  background-color: lightGray;
  border: 1px solid darkGray;
  border-radius: 1px;
}

.power-indicator-move-right {
  transform: translate(217px);
  transition: transform 1200ms linear;
}

.power-indicator-move-return {
  transform: translate(0px);
  transition: transform 1200ms linear;
}

.power-indicator-move-left {
  transform: translate(-27px);
  transition: transform 1470ms linear;
}

.power-indicator-finish-left {
  transform: translate(-27px);
  transition: transform 270ms linear;
}

#power-aim-indicator {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 224px;
  right: 0;

  width: 4px;
  height: 18px;
  margin: auto;

  background-color: white;
  border: 1px solid darkGray;
  border-radius: 1px;
}

#indicator-trail {
  position: absolute;
  z-index: -10;
  top: 3px;
  left: 8px;

  width: 4px;
  height: 14px;

  background-color: darkGray;
  border-radius: 1px;
}

.expand-trail {
  width: 220px !important;

  transition: width 1220ms linear;
}

.retract-trail {
  width: 4px !important;

  transition: width 1220ms linear;
}

#indicator-ghost {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;

  width: 4px;
  height: 18px;
  margin: auto;

  background-color: lightGray;
  border: 1px solid darkGray;
  border-radius: 1px;
}

#instruction-container {
  position: absolute;
  top: 530px;
  left: 0;
  right: 0;

  width: 508px;
  height: 120px;
  margin: auto;

  /* border: 1px solid black;
  border-radius: 10px; */
}

#instruction-text {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;

  width: 380px;
  margin: auto;

  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}
